APP_NAME=wasilini
APP_ENV=local
APP_KEY=base64:8zIYjbZv9brVUOy0XdixW2Oxpkg7S7DCe20ptOMbaRU=
APP_DEBUG=true
APP_URL=https://istidamh.com
DEBUGBAR_ENABLED=false

NODE_APP_URL=http://istidamh.com
LOG_CHANNEL=daily
SYSTEM_DEFAULT_TIMEZONE=Asia/Riyadh
SYSTEM_DEFAULT_CURRENCY = 'SAR'
APP_FOR=prod
COORDINATES_PATH=/var/www/html/coords/india.kml
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=istidamh_taxi2
DB_USERNAME=root
DB_PASSWORD='123456'

BROADCAST_DRIVER=log
CACHE_DRIVER=array
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=http://192.46.237.227
REDIS_PASSWORD=null
REDIS_PORT=6379




MAIL_MAILER=sendmail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=mirsal.cp@gmail.com
MAIL_PASSWORD=dxpbaigzfpstuiql
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=mirsal.cp@gmail.com
MAIL_FROM_NAME=wasilniTaxi

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FILESYSTEM_DRIVER=local

SMS_PROVIDER=log
DEFAULT_ALERT_EMAIL='dhilipkumar.kgcas@gmail.com'

SOCKET_HOST=http://192.46.237.227
SOCKET_PORT=3001
NODE_APP_PORT=3000
SOCKET_HTTPS="no"
SOCKET_SSL_KEY_PATH="/var/www/html/privkey.pem"
SOCKET_SSL_CERT_PATH="/var/www/html/fullchain.pem"


FIREBASE_CREDENTIALS="public/push-configurations/firebase.json"

#FACEBOOK_CLIENT_ID=317379692439518
#FACEBOOK_CLIENT_SECRET=fb2290957e1dc2e88bb9cf73131c12ff
FACEBOOK_CLIENT_ID=304838750171093
FACEBOOK_CLIENT_SECRET=7ece5eca2fe9f042407153d3beac459c
FACEBOOK_REDIRECT=https://admin.tagyourtaxi.com/login/callback/facebook

GOOGLE_CLIENT_ID=656697310655-63gcms9rdtc85sk3iga03b8bfcht5sdj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=13ChTdELEf8gUXI7SwyQK3Dn
GOOGLE_REDIRECT=https://admin.tagyourtaxi.com/login/callback/google

FIREBASE_DATABASE_URL=https://taxi-2d258-default-rtdb.firebaseio.com/

PAYMENT_GATEWAY=braintree

GOOGLE_MAP_KEY=AIzaSyA30UvVD_eR5eYm3TibJT8Zb_Xk-Xgo-ng
#AIzaSyC63CkbJ1I1dpfHqOOxjEgNsjsjWh5BhIk
GOOGLE_SHEET_KEY = AIzaSyBVE-WE-lwXhxWFHJthZ6FleF1WQ3NmGAU

DEFAULT_LAT=11.21215
DEFAULT_LNG=76.54545

CASH_FREE_URL=https://test.cashfree.com/api/v2/cftoken/order

# TELR CONFIG
TELR_TEST_MODE=true
TELR_STORE_ID='27443'
TELR_STORE_AUTH_KEY='gDf2-F45S6~CWNMq'
